<div style="background-image: url('https://trialmate.s3.amazonaws.com/images/bg+image.png');" class="min-h-screen bg-gray-100 p-8 sm:p-12 bg-gray-700 bg-blend-multiply">
  <div class="mt-32 my-auto mx-auto max-w-md px-6 py-6 bg-white border-0 shadow-lg rounded-3xl">
    <h1 class="text-2xl font-bold mb-4">Sign In</h1>
    <form  action="/users/login"
        method="post"
        class="bg-white rounded px-8 pt-6 pb-8 mb-4"
        role="form"
        enctype="application/x-www-form-urlencoded"
        >
        <div class="relative z-0 w-full mb-5">
          <input type="text" name="email" id="email" placeholder="Email Address" required="" class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200">
          <label for="email" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
          <span class="text-sm text-red-600 hidden" id="email-error">Email address is required</span>
        </div>
        <div class="relative z-0 w-full mb-5">
          <input type="password" name="password" id="pw" placeholder="Password" required="" class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200">
          <label for="pw" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
          <span class="text-sm text-red-600 hidden" id="pw-error">Password is required</span>
        </div>
        <a href="/users/signup" class="text-blue-600 hover:underline dark:text-blue-500">Create Account</a>
      <button id="button" type="submit" class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-gray-700 hover:bg-gray-900 hover:shadow-lg focus:outline-none">
        Submit
      </button>
    </form>
  </div>
</div>

{{!-- 

<div class="container mx-auto px-4">
  <div class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md">
      <form
        action="/users/login"
        method="post"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        role="form"
        enctype="application/x-www-form-urlencoded"
      >
        <legend class="text-xl font-bold mb-4">Enter Login Information Here</legend>

        <div class="mb-4">
          <label
            for="email"
            class="block text-gray-700 text-sm font-bold mb-2"
          >Email Address</label>
          <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="email"
            id="email"
            placeholder="Email Address"
          />
        </div>

        <div class="mb-6">
          <label
            for="pw"
            class="block text-gray-700 text-sm font-bold mb-2"
          >Password</label>
          <input
            type="password"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            name="password"
            id="pw"
          />
        </div>

        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >Login</button>
        </div>
      </form>
    </div>
  </div>
</div> --}}

{{! 
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/users/login" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter Login Information Here</legend>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                </div>

                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="password" class="form-control" name="password" id="pw">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div> }}