<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form action="/product/upload" method="POST" enctype="multipart/form-data">
        <legend>Add Product</legend>

        <div class="form-group">
          <label for="brand">Brand:</label>
          <input type="text" class="form-control" id="brand" name="brand" required />
        </div>

        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" name="title" required />
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" name="description" required></textarea>
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" class="form-control" id="price" name="price" required />
        </div>

        <div class="form-group">
          <label for="location">Location:</label>
          <input type="text" class="form-control" id="location" name="location" required />
        </div>

        <div class="form-group">
          <label for="photo">Photo:</label>
          <input type="file" class="form-control-file" id="photo" name="photo" accept="image/jpeg" required />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>