<div style="background-image: url('https://trialmate.s3.amazonaws.com/images/unsplash_jxCGoUiBAiA.png');"
  class="bg-center bg-cover bg-no-repeat min-h-screen bg-gray-100 p-8 sm:p-12 bg-gray-200 bg-blend-multiply">
  <div class="mx-auto max-w-md px-6 py-6 bg-gray-50 border-0 shadow-lg sm:rounded-2xl">
    <h1 class="text-2xl font-bold mb-4">Sign Up</h1>
    <form action="/profile" method="post" id="form" enctype="multipart/form-data">
      <div class="relative z-0 w-full mb-5">
        <input type="text" name="username" id="first_name" placeholder="User Name" required=""
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200" />
        <label for="first_name" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
        <span class="text-sm text-red-600 hidden" id="first_name-error">User
          Name is required</span>
      </div>

      <div class="relative z-0 w-full mb-5">
        <input type="text" name="name" id="first_name" placeholder="Name" required=""
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200" />
        <label for="first_name" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
        <span class="text-sm text-red-600 hidden" id="first_name-error">Name is
          required</span>
      </div>

      <div class="relative z-0 w-full mb-5">
        <input type="text" name="email" id="email" placeholder="Email Address" required=""
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200" />
        <label for="email" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
        <span class="text-sm text-red-600 hidden" id="email-error">Email address
          is required</span>
      </div>
      <div class="relative z-0 w-full mb-5">
        <input type="text" name="address" id="address" placeholder="Address" required=""
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200" />
        <label for="address" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
        <span class="text-sm text-red-600 hidden" id="address-error">Address is
          required</span>
      </div>
      <div class="relative z-0 w-full mb-5">
        <input type="text" name="pincode" id="pin_code" placeholder="Pin Code" required=""
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200" />
        <label for="pin_code" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
        <span class="text-sm text-red-600 hidden" id="pin_code-error">Pin Code
          is required</span>
      </div>
      <div class="relative z-0 w-full mb-5">
        <input type="text" name="phoneNumber" id="pw_confirm" placeholder="Phone Number" required=""
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200" />
        <label for="pw_confirm" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
        <span class="text-sm text-red-600 hidden" id="pw_confirm-error">Phone
          Number is required</span>
      </div>
      <div class="relative z-0 w-full mb-5">
        <input data-popover-target="popover-password" data-popover-placement="bottom" type="password" name="password"
          id="pw" placeholder="Password" required=""
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200" />
        <label for="pw" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"></label>
        <span class="text-sm text-red-600 hidden" id="pw-error">Password is
          required</span>
        <div class="form-group">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="photo">Upload file</label>
          <input name="photo" id="photo" type="file"
            class="form-control-file block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" />
        </div>
        <button id="button" type="submit"
          class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-gray-700 hover:bg-gray-900 hover:shadow-lg focus:outline-none">
          Submit
        </button>
    </form>
  </div>
</div>


<script>
  function checkPasswordCriteria(password) { // Regular expressions to match
  criteria const hasCapitalLetter = /[A-Z]/.test(password); const
      hasSpecialCharacter = /[!@#$%^&*()-_=+{};:,<.>?`~]/.test(password); const
        hasNumber = /[0-9]/.test(password); // Check if all criteria are met return
    hasCapitalLetter && hasSpecialCharacter && hasNumber;
  } function
    validatePassword(input) {
    const error =
      document.getElementById('password-error'); const criteriaError =
        document.getElementById('password-criteria-error'); // Basic HTML5 validation
  check if (input.validity.valid) { error.classList.add('hidden'); } else {
      error.classList.remove('hidden');
    } // Custom password criteria check if
    (checkPasswordCriteria(input.value)) {
      criteriaError.classList.add('hidden');
    } else { criteriaError.classList.remove('hidden'); }
  }
</script>